<!--
 Created 7/25/2020 by Caroline Wheeler
 HTML for the peer evaluation form.
-->

<%= form_with do %> //generates form tag
  <% submit_type = "Create" %>

  <h2> PEER EVALUATION FORM</h2>
  // the line below needs to give other classmates in group as options
  // Need to extract classmates from apartOf table
  <%= select_tag(:classmate_id, options_for_select([['Caroline', 1], ['Reema', 2], ['Sean', 3], ['Duytan', 4]])) %>

  <%= radio_button_tag(:attendance,) %>
<% end %>