/*Created 7/27/2020 by Duytan Tran
  Tool bar styling*/
.toolbar {
    margin-bottom: 0;
}

.toolbar a:link, .toolbar a:visited {
    background-color: darkred;
    color: white;
    padding: 7px 14px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
}

.toolbar a:hover {
    background-color: #b10404;
}